@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope&display=swap");

:root {
  --cormorant: "Cormorant Garamond";
  --manrope: "Manrope";
  --background-section1: #093931;
  --color-texto1: #f5d38e;
  --color-texto2: #f2c66d;
  --color-texto3: #ffffff;
  --color-texto-s3: #0D554A;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/*-----------------------------SESION 1---------------------------*/


.homepage {
  background-color:var(--color-texto3);
  width: 1440px;
  height: 4583px;
}

.section1 {  
  height: 821px;
  background-color: var(--background-section1);
  background-image: url(./assets/olas_blancas.png);
  position: relative;
}

.header {  
  height: 62px;
  display: flex;
  align-items: center;  
}

.header__p {
  display: flex;
  color: var(--color-texto1);
  font-family: var(--cormorant);
  font-size: 30px;
  margin-left: 134px;
  margin-right: 559px;
}

.header__nav {
  display: flex;
  justify-content: right;
}

.nav__ul {
  display: flex;
  gap: 30px;
  margin-right: 132px;
}

.nav__li {
  list-style-type: none;
}

.nav__a {
  text-decoration: none;
  color: var(--color-texto3);
  font-size: 14px;
  font-family: var(--manrope);
}

.nav__a-active {
  color: var(--color-texto2);
  font-weight: 700;
}

.nav__rectangle {
  position: absolute;
  width: 77px;
  height: 4px;
  top: 39px;
  left: 0;
  background-color: #f2c66d;
  border-radius: 2px;
  margin-left: 768px;
  margin-top: 8px;
}

.section1__parrafo {
  width: 537px;
  height: 282px;
  font-size: 72px;
  font-weight: 400;
  line-height: 94px;
  color: var(--color-texto1);
  font-family: var(--cormorant);
  margin-top: 170px;
  margin-left: 132px;
  margin-right: 771px;
}

.section1__button {
  display: inline-flex;
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  margin-top: 24px;
  margin-left: 132px;
  font-family: var(--manrope);
  color: var(--color-texto3);
  font-size: 18px;
}

.section1__images {
  position: absolute;
  width: 568px;
  height: 543px;
  top: 139px;
  left: 741px;
}

.images__imagebig {
  position: absolute;
  width: 407px;
  height: 543px;
  top: 0;
  left: 0;
}

.images__imagesmall {
  position: absolute;
  width: 275px;
  height: 355px;
  top: 102px;
  left: 293px;
}

.images__iconbutton {
  background: rgba(0, 0, 0, 0);
  border-radius: 26px;
  border-style: solid;
  border-color: #effdfa;
  border-width: 1px;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 114px;
  top: 248px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.iconbutton__play {
  position: absolute;
  transform: translate(10px, 10px);
  width: 31px;
  height: 31px;
}

.sections {
 background-color: #FFFFFF;
 Width: 1440px;
}


/*-----------------------------SESION 2---------------------------*/
.section__2 {
  Height: 232px;
  top: 845;
  display: flex;
  background-color: #171A1F;
}

.content__section2 {
  width: 62px;
  height: 62px;
  margin-top: 36px;
  margin-left: 287px;
} 

.h3__section2 {
  height: 28px;
  top: 116px;
  font-family: var(--manrope);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #171A1F;


}

.text__section2 {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

}

/*-----------------------------SESION 3---------------------------*/
.section3 {
  height: 506px;
}

.s3 {
  margin-left: 132px;
}

.section__title {
  width: 264px;
  height: 112px;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: var(--color-texto-s3);
  font-family: var(--cormorant);
  margin-top: 54px;
  margin-left: 132px;
}

.section__p {
  width: 264px;
  height: 78px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9095a0;
  font-family: var(--manrope);
  margin-top: 12px;
  margin-left: 132px;
}

.section__button {
  display: inline-flex;
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid var(--color-texto-s3);
  background: #00000000;
  margin-top: 24px;
  margin-left: 132px;
  font-family: var(--manrope);
  color: var(--color-texto-s3);
  font-size: 18px;
}

/*----------------------------- card ---------------------------*/
.content {
  margin-left: 70px;
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

}

.card__content {
  overflow: hidden;
  margin-right: 24px;
  width: 276px;
  height: 410px;
  flex-shrink: 0;
  top: 48px;
  left: 444px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07),
    0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}
.img_with_space {
  margin-left: 48px;
}
.img_whithout_space {
 margin-right: 0;
}

.h3_card {
  margin-top: 12px;
  margin-left: 12px;
  color: #171A1F;
  font-family: var(--cormorant);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; 
}

.price {
  color: #171A1F;
  margin-left: 12px;
  font-family: var(--manrope);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}

/*-----------------------------SESION 4---------------------------*/

.section4 {
  Height: 1082px;
  background-color: #093931;
}

/*-----------------------------SESION 5---------------------------*/

.section5 {
  Height: 554px;
}

.s5 {
  margin-left: 132px;
}

.s5_p {
  color: #424955;
}

/*-----------------------------SESION 6---------------------------*/

.section6 {
  Height: 564px;
}

/*-----------------------------SESION 7---------------------------*/

.section7 {
  height: 522px;
  background-color:  #093931;
}

.s7_title {
  font-family: var(--cormorant);
  color: #fff;
  font-style: normal;
  font-size: 48px;
  line-height: 68px;
  margin-top: 169px;
  margin-left: 132px;
  font-weight: 600;
  width: 311px;
  height: 68px;
}

.s7_p {
  height: 78px;
  color: #FFFFFF;
  top: 249px;
}

.s7_card {
  width: 696px;
  height: 375px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(23, 26, 31, 0.30);
  overflow: hidden;
  margin-top: 72px;
  margin-left: 612px;
}

/*----------------------------- FOOTER ---------------------------*/

.footer {
  height: 234px;
  background-color: #093931;
}
